.container{
    background-color: rgb(18, 18, 18);
    z-index: -100;
    background-image: url("/backgrounds/dots2.png");
    background-repeat: no-repeat;
    background-position: -23.5vh 239vh;
}

.dots1{
    position: absolute;
    top: 96.5vh;
    right: 3%;
}
.ellipse3{
    position: absolute;
    top: 180vh;
    right: 0;
}
